{% extends "base.html" %}

{% block content %}

<div id="home">
  <div class="row" style="padding-top: 50px;">
    <div class="col">

    <div id="orders" style="height: 500px;"></div>

    </div>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/annotation.js"></script>
<script src="{{ url_for('static', filename='js/home/main.js') }}"></script>

{% endblock %}