{% extends "base.html" %}

{% block content %}
  <style>
      .form-signup {
          width: 100%;
          max-width: 500px;
          padding-top: 150px;
          margin: auto;
      }

      .form-signup .form-control {
          position: relative;
          box-sizing: border-box;
          height: auto;
          padding: 10px;
          font-size: 16px;
      }

      .form-signup .form-control:focus {
          z-index: 2;
      }

      .form-signup input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
      }

      .form-signup input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
  </style>

  <main class="form-signup text-center">
    <form method="POST" action="/signup">
      <h1 class="h3 mb-3 fw-normal">Sign up for forwardview account</h1>

      <label for="email" class="visually-hidden">Email address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>

      <label for="name" class="visually-hidden">Name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>

      <label for="password" class="visually-hidden">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>


      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <br><br>
        <div class="alert alert-danger" role="alert">
          {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
      {% endif %}
    {% endwith %}
  </main>
{% endblock %}