{% extends "base.html" %}

{% block content %}
{% if not ticker_present %}
  <div class="row row justify-content-center" style="padding-top: 50px;">
    <div class="col-8">
        <div class="alert alert-secondary" role="alert">
          No tickers available.
        </div>
    </div>
  </div>

{% else %}

  <div id="ticker">

    <div class="row" style="padding-top: 50px;">
      <div class="col">
        <div class="row d-flex justify-content-between">
          <div class="col d-flex justify-content-start">
            <div data-bs-toggle="tooltip" data-bs-placement="top" title="Order actions" style="padding-right: 2px;">
              <button type="button" class="btn btn-outline-primary" v-on:click="showOrderActions">
                <i class="bi bi-plus"></i>
              </button>
            </div>

            <div data-bs-toggle="tooltip" data-bs-placement="top" title="Ticker info" style="padding-right: 2px;">
              <button type="button" class="btn btn-outline-primary" v-on:click="showTickerInfo">
                <i class="bi bi-info"></i>
              </button>
            </div>

            <div data-bs-toggle="tooltip" data-bs-placement="top" title="New ticker">
              <a type="button" class="btn btn-outline-primary" v-on:click="newTicker">
                <i class="bi bi-arrow-repeat"></i>
              </a>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div style="padding-right: 2px;">
            <button type="button" class="btn btn-outline-primary" id="pills-tab-15min" v-on:click="updateOhlcChart('15min', 'false')">15 min</button>
            </div>
            <div style="padding-right: 2px;">
              <button type="button" class="btn btn-outline-primary active" id="pills-tab-60min" v-on:click="updateOhlcChart('60min', 'false')">1 h</button>
            </div>
            <button type="button" class="btn btn-outline-primary" id="pills-tab-1d" v-on:click="updateOhlcChart('1d', 'false')">Daily</button>
          </div>
          <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary" id="pills-tab-right" v-on:click="updateOhlcChart('60min', 'true')"><i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <hr>
            <div id="ohlc" style="height: 1000px; max-width: 100%"></div>
          </div>
        </div>
      </div>
    </div>

  <!-- Modal -->
    <div class="modal fade" id="order-actions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="place-order" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Actions for: {{ ticker_data.get('ticker_name') }}</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-5">
                <form v-on:submit.prevent="placeOrder" action="" id="place-order-form">
                  <div class="mb-3">
                    <select v-model="order.orderType" v-on:change="onOrderTypeChange($event)" class="form-control w-auto" id="order_type" name="order_type" required>
                      <option selected disabled value="">Order type</option>
                      <option value="LONG">LONG</option>
                      <option value="SHORT">SHORT</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <input v-model="order.price" class="form-control" placeholder="Price" id="price" name="price" step="any" type="number" min="0.1" data-bind="value:price" required>
                  </div>
                  <div class="mb-3">
                    <input v-model="order.orderSize" class="form-control" placeholder="Order size" id="order_size" name="order_size" type="number" min="1" data-bind="value:order_size" required>
                  </div>
                  <div class="mb-3">
                    <input v-model="order.takeProfit" class="form-control" placeholder="Take profit" id="take_profit" name="take_profit" type="number" step="any" min="0.1" data-bind="value:take_profit" required>
                  </div>
                  <div class="mb-3">
                    <input v-model="order.stopLoss" class="form-control" placeholder="Stop loss" id="stop_loss" name="stop_loss" type="number" step="any" min="0.1" data-bind="value:stop_loss" required>
                  </div>

                  <button v-if="!orderActive" id="process-order" type="submit" class="btn btn-primary">Place order</button>
                  <button v-if="orderActive" v-on:click="exitTrade" type="button" class="btn btn-primary" id="exit-trade">Exit trade</button>
                </form>
              </div>
              <div class="col">
                <div id="ok-submit" class="alert alert-dismissible alert-success" role="alert" style="display: none;">
                  <span id="ok-submit-msg"></span>
                </div>

                <div id="error-submit" class="alert alert-dismissible alert-warning" role="alert" style="display: none;">
                  <span id="error-submit-msg"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ticker-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ticker-info" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl" style="max-width:90% !important;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ ticker_data.get('ticker_name') }}</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">

              <div class="col-8">
                <div class="card" id="overview-card">
                  <div class="card-body">
                    <div id="overview-body" v-if="tickerInfoOverview">
                      <h5 class="card-title"> [[tickerInfoOverview.overview.Name]] </h5>
                      <div v-if="tickerInfoOverview.overview.Sector !== 'None'">Sector: [[tickerInfoOverview.overview.Sector]]</div>
                      <div v-if="tickerInfoOverview.overview.Industry !== 'None'">Industry: [[tickerInfoOverview.overview.Industry]]</div>
                      <div v-if="tickerInfoOverview.overview.Description !== 'None'">Summary: [[tickerInfoOverview.overview.Description]]</div>
                    </div>

                    <br>
                    <select class="form-control" v-on:change="updateRatiosChart($event)">
                      <option value="currentRatio">Liquidity - Can a company pay its short term liabilities with its current assets?</option>
                      <option value="cashConversionCycle">Liquidity - How many days it takes to convert goods and services into cash?</option>

                      <option value="debtRatio">Solvency - What portion of company assets are financed with debt?</option>
                      <option value="interestCoverage">Solvency - What portion of company's operating profits are required to repay interest on debt?</option>

                      <option value="returnOnAssets">Profitability - How profitable is a company relative to its total assets?</option>
                      <option value="returnOnEquity">Profitability - What is company's ability to turn equity investment into profits?</option>
                    </select>

                    <div id="ratios" style="height: 400px; max-width: 100%;"></div>

                    <br>

                    <div v-if="selectedRatio === 'currentRatio'">
                      <a href="https://www.investopedia.com/terms/c/currentratio.asp" target="_blank">Current ratio</a> is one of the <b>liquidity indicators</b> that shows a company's ability to pay its short term debt,
                      calculated as ratio of company's current assets and current liabilities. As a rule of thumb, ratio of above 2 is considered good.
                    </div>

                    <div v-if="selectedRatio === 'cashConversionCycle'">
                      <a href="https://www.investopedia.com/terms/c/cashconversioncycle.asp" target="_blank">Cash conversion cycle</a> is one of the <b>liquidity indicators</b> that shows a company's ability to convert
                      its investments in inventory to cash, measured in days. This indicator helps to asses how efficiently a company is managing its working capital.
                    </div>

                    <div v-if="selectedRatio === 'debtRatio'">
                      <a href="https://www.investopedia.com/terms/d/debtratio.asp" target="_blank">Debt ratio</a> is one of the <b>solvency indicators</b> that shows the percentage of assets that are being financed with debt.
                      The higher the ratio, the greater the degree of leverage and financial risk.
                    </div>

                    <div v-if="selectedRatio === 'interestCoverage'">
                      <a href="https://www.investopedia.com/terms/i/interestcoverageratio.asp" target="_blank">Interest coverage</a> is one of the <b>solvency indicators</b> that shows how easily a company can pay interest on its outstanding debt.
                    </div>

                    <div v-if="selectedRatio === 'returnOnAssets'">
                      <a href="https://www.investopedia.com/terms/r/returnonassets.asp" target="_blank">Return on assets</a> is one of the <b>profitability indicators</b> that shows how profitable a company is relative to its total assets and
                       how efficient a company's management is at using its assets to generate earnings.
                    </div>

                    <div v-if="selectedRatio === 'returnOnEquity'">
                      <a href="https://www.investopedia.com/terms/r/returnonequity.asp" target="_blank">Return on equity</a> is one of the <b>profitability indicators</b> that shows total return on equity capital and the firm’s ability to turn equity
                      investments into profits.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="card" id="news-card" v-if="tickerInfoNews">
                  <div id="news-body" class="card-body">
                    <h5 class="card-title">News</h5>
                    <li v-for="news in tickerInfoNews" :key="tickerInfoNews">
                      [[formatDate(news.Date)]]
                      <br>
                      <div v-if="news.Link">
                        <a v-bind:href="news.Link" target="_blank">[[news.Title]]</a>
                      </div>
                      <div v-else>
                        [[formatNews(news)]]
                      </div>
                      <br>
                    </li>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/plugins/annotation.js"></script>

  {% assets filters="jsmin", output="gen/ticker.%(version)s.js",
    "js/ticker/main.js", "js/ticker/overview.js", "js/ticker/ohlc.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endif %}
{% endblock %}